header {
	position: relative;
	height: 100px;
	width: 100%;
	background-color: #FCF9F4;
}
.logo {
	width: 25%;
	height: 100%;
	display: inline-block;
}

img {
	width: 100px;
	height: 60px;
	margin: 10px 100px 10px;
}
	

nav {
	position: absolute;
	width: 50%;
	height: 100%;
	display: inline-block;
	text-align: center;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
}

ul {
	margin: 40px 0 0;
	color: rgb(77, 78, 89);
    font-size: 18px;
}
li {
	display: inline-block;
	margin: 0 80px;
}

a {
 color: #4D4E59;
 text-decoration: none;
}

a:hover {
	color: blue;
}
	
.donate {
	width: 23%;
	height: 100%;
	display: inline-block;
	float: right;
}

button {
	margin-left: 50px;
	margin-top: 30px;
	border: 1px solid #ccc;
	padding: 10px 20px;
	border-radius: 4px;
}

.topArea {
	position: relative;
	background-image: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1517137032385&di=ca6cf6e490eef289ed8c5681ddae073d&imgtype=0&src=http%3A%2F%2Fimgsrc.baidu.com%2Fimage%2Fc0%253Dpixel_huitu%252C0%252C0%252C294%252C40%2Fsign%3Dcc0ac28bb2014a9095334efdc00f5c7e%2F03087bf40ad162d920ce1f251adfa9ec8a13cde3.jpg);
	width: 100%;
	height: 700px;
	background-repeat: no-repeat;
    background-size: cover;
}

.mask {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .2;
}

.tutoring {
	margin: 0 auto;
	width: 50%;
	margin: 0 auto;
    text-align: center;
    padding-top: 300px;
	font-family: "Amatica SC", cursive;
}
.arrowDown {
    position: absolute;
	left: 50%;
    bottom: 10px;
	top: unset;
}




.mission{
	width: 100%;
	height: 500px;
	background-color: white;
}

.missiontitle{
	padding-top: 100px;
	text-align: center;
	margin:0;
	font-size: 40px;
}

.missioninfo{
	margin: 5% 35% 0 35%;
	text-align: center;
	width: 30%;
	font-size: 20px;
}

.missiondonate{
	text-align: center;
	width: 300px;
    height: 50px;
    border: 1px solid #FFCD62;
    background-color: #FFCD62;
    margin: 3% 42% 0 42%;
    font-size: 20px;
}




.student {
	width: 100%;
	height: 700px;
	background-color: #91D0B1;
}

.stuPic {
	display: inline-block;
	width: 50%;
}

.stuImg {
	width: 50%;
	height: 50%;
	margin: 26% 0 0 40%;
/*	float: right;*/
}

.paragraph {
	display: inline-block;
	width: 30%;
}

.paratitle{
	font-size: 52px;
    font-family: 'Amatica SC', cursive;
}

.parainfo{
	font-size: 20px;
    font-family: 'Amatica SC', cursive;
}

.parabutton{
	margin-top: 20px;
    width: 300px;
    height: 50px;
    border: 1px solid #7CB69A;
    border-radius: 5px;
    background-color: #7CB69A;
}

.indicator {
	display: inline-block;
}

.dot {
	border: 10px solid #7CB69A;
	border-radius: 10px;
	margin: 10px 0;
}

.dot:hover {
	border-color: white;
}



.tutors{
	width: 100%;
	height: 500px;
	background-color: #FFCD62;
}

