header {
	position: relative;
	height: 100px;
	width: 100%;
	background-color: #FCF9F4;
}




.logo {
	width: 25%;
	height: 100%;
	display: inline-block;
}

img {
	width: 100px;
	height: 60px;
	margin: 10px 100px 10px;
}
	

nav {
	position: absolute;
	width: 50%;
	height: 100%;
	display: inline-block;
	text-align: center;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
}

ul {
	margin: 40px 0 0;
	color: rgb(77, 78, 89);
    font-size: 18px;
}
li {
	display: inline-block;
	margin: 0 80px;
}

a {
 color: #4D4E59;
 text-decoration: none;
}

a:hover {
	color: blue;
}
	
.donate {
	width: 23%;
	height: 100%;
	display: inline-block;
	float: right;
}

button {
	margin-left: 50px;
	margin-top: 30px;
	border: 1px solid #ccc;
	padding: 10px 20px;
	border-radius: 4px;
}

.topArea {
	position: relative;
	background-image: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1517137032385&di=ca6cf6e490eef289ed8c5681ddae073d&imgtype=0&src=http%3A%2F%2Fimgsrc.baidu.com%2Fimage%2Fc0%253Dpixel_huitu%252C0%252C0%252C294%252C40%2Fsign%3Dcc0ac28bb2014a9095334efdc00f5c7e%2F03087bf40ad162d920ce1f251adfa9ec8a13cde3.jpg);
	width: 100%;
	height: 700px;
	background-repeat: no-repeat;
    background-size: cover;
}

.mask {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .2;
}

.tutoring {
	margin: 0 auto;
	width: 50%;
	margin: 0 auto;
    text-align: center;
    padding-top: 300px;
}
.arrowDown {
    position: absolute;
	left: 50%;
    bottom: 10px;
	top: unset;
}




.mission{
	width: 100%;
	height: 500px;
	background-color: white;
}

.missionbody{
	width: 30%;
	margin: 0 auto;
}


.missiontitle{
	padding-top: 100px;
	text-align: center;
	margin:0;
	font-size: 40px;
}

.missioninfo{
	text-align: center;
	width: 80%;
	padding-top: 50px;
	margin: 0 auto;
	font-size: 20px;
}

.missionbutton{
	width: 300px;
    margin: 0 auto;
    padding-top: 50px;
}


.missiondonate{
	text-align: center;
	width: 300px;
    height: 50px;
    border: 1px solid #FFCD62;
    background-color: #FFCD62;
    font-size: 20px;
    margin: 0;
}




.student {
	width: 100%;
	height: 700px;
	background-color: #91D0B1;
}

.stuPic {
	display: inline-block;
	width: 50%;
}

.stuImg {
	width: 50%;
	height: 50%;
	margin: 26% 0 0 40%;
/*	float: right;*/
}

.paragraph {
	display: inline-block;
	width: 35%;
	position: absolute;
}

.paraBody{
	display: inline-block;
	width: 80%
}


.paratitle{
	padding-top: 200px;
	font-size: 52px;
}

.parainfo{
	font-size: 20px;
}

.parabutton{
	margin: 20px 0 0 0;
    width: 300px;
    height: 50px;
    border: 1px solid #7CB69A;
    border-radius: 5px;
    background-color: #7CB69A;
}

.indicator {
	display: inline-block;
	margin-left: 10%;
}

.dot {
	border: 10px solid #7CB69A;
	border-radius: 10px;
	margin: 10px 0;
}

.dot:hover {
	border-color: white;
}



.tutors{
	width: 100%;
	height: 600px;
	background-color: #FFCD62;
}

.tutorPara{
	display: inline-block;
	width: 50%;
	padding: 0 0 0 25%;
}

.tutorTitle{
	margin: 0 0;
	padding-top: 200px;
	width: 100%;
	text-align: left;
	font-size: 40px;
}

.tutorInfo{
	margin: 0 0;
	padding-top: 50px;
	width: 100%;
	text-align: left;
	font-size: 20px;
}

.tutorButton{
	margin: 50px 10% 0 0;
	width: 300px;
    height: 50px;
    border: 1px solid #EABC5B;
    background-color: #EABC5B;
    font-size: 20px;
}


.tutorPic{
	display: inline-block;
	width: 45%;
	position: absolute;
}

.tutorImg{
	width: 50%;
	height: 50%;
	margin: 22% 0 0 10%;
/*	float: right;*/
}




.partners{
	width: 100%;
	height: 600px;
	background-color: #80A8CC;
}

.partPic{
	display: inline-block;
	width: 45%;

}

.partImg{
	width: 50%;
	height: 50%;
	margin: 22% 0 0 40%;
/*	float: right;*/
}

.partPara{
	display: inline-block;
	width: 50%;
	position: absolute;
}

.partTitle{
	margin: 0 0;
	padding-top: 200px;
	width: 100%;
	text-align: left;
	font-size: 40px;
}

.partInfo{
	margin: 0 0;
	padding-top: 50px;
	width: 100%;
	text-align: left;
	font-size: 20px;
}

.partButton{
	margin: 50px 10% 0 0;
	width: 300px;
    height: 50px;
    border: 1px solid #6D91B1;
    background-color: #6D91B1;
    font-size: 20px;
}



.progress{
	width: 100%;
	height: 600px;
	background-color: white;
	margin: 0;
}

.progTitle{
	text-align: center;
	margin: 180px 0 0 0;
	font-size: 50px;
}

.progGroup{
	width: 45%;
	margin:0 auto;
}


.hoursTutored{
	width: 250px;
	height: 250px;
	display: inline-block;
	border: 1px solid #cccccc;
	margin: 50px 20px 0 20px;
	color: #C3E2CF;
}

.sessionsHosted{
	width: 250px;
	height: 250px;
	display: inline-block;
	border: 1px solid #cccccc;
	margin: 50px 20px 0 0;
	color: #FFCD62;
}

.volunteerTutors{
	width: 250px;
	height: 250px;
	display: inline-block;
	border: 1px solid #cccccc;
	margin: 50px 0 0 0;
	color: #80A8CC;
}

h3{
	text-align: center;
	padding-top: 50px;
	font-size: 40px;
}

.progInfo{
	text-align: center;
	padding-top: 30px;
	font-size: 25px;
}



.foot{
	background-color: #4D4E59;
	width: 100%;
	height: 100px;
}

.footNote{
	margin: 0 auto;
	width: 150px;
}

.footInfo{
	text-align: center;
	margin: 0;
	padding-top: 40px;
	display: inline-block;
}

